[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
django-bootstrap4 = "*"
numpy = "*"
django-heroku = "*"
gunicorn = "*"
pylast = "*"
requests = "*"
django-widget-tweaks = "*"
redis = "*"
celery = "*"
django-celery-results = "*"
pandas = "*"
openpyxl = "*"
future = "*"

[requires]
python_version = "3.9"
