{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>Lastfm tools</h1>
<hr>
<ul>

	<p>On this website, you will find several tools to play with lastfm data. </p>

<li><a href="/scraping">Scraping</a>: Scraping tools.</li>
	<ul>
	<li>Timeline: Export every scrobbles of a lastfm user.</li>
	<li>Favorite: Export every favorite tracks of a lastfm user.</li>
	<li>Genre: Export a list of artists of one or several genres (100 artists for each genre).</li>
	<li>Artist infos: Extract infos about one or several artists.</li>
	</ul>
<li><a href="/lastfm_pg">Playlist Generator</a>: Generate most played tracklist of a lastfm user.</li>
<li><a href="/lastfm_cg">Collage Generator</a>: Lastfm collage generator.</li>
</ul>

<hr>

<p><a href="https://github.com/dbeley/django-lastfm">Source Code</a> | <a href="https://dbeley.ovh">My website</a></p>
{% endblock %}
